
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Workgroup:</strong>
  <%= @user.workgroup %>
</p>

<p>
  <strong>Timezone:</strong>
  <%= @user.timezone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Редактировать профиль', edit_user_registration_path, class: "btn" if @user == current_user %>

<%= link_to 'Изменить', user_admin_edit_path, class: "btn" if current_user.workgroup == 'Administrators' %>

